
:root {
    --main: #d6d6d6;
    --secondary: #6a5770;
    --accent: #4c375c;
    --text-color: #202020;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color:   var(--main);
  }
  /* 
  .container {
    max-width: 1200px;
    margin: 0 auto;
  } */
  
  /* h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  } */
  
  .table-container {
    overflow-x: auto;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
  }
  
  /* thead {
    background-color: #4CAF50;
    color: white;
  } */
  
  th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    min-width: 100px;
  }
  
  img {
    width: 50px;
    height: auto;
  }
  
  button {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--main);
    color: var(--text-color);
    border-radius: 4px;
  }
  
  /* .view-btn {
    background-color: #4CAF50;
  }
  
  .edit-btn {
    background-color: #2196F3;
  }
  
  .delete-btn {
    background-color: #f44336;
  } */
  
  
  @media (max-width: 768px) {
    th, td {
        padding: 8px;
    }
  
    img {
        width: 40px;
    }
  
    button {
        padding: 6px 8px;
        margin-right: 2px;
    }
  
  
    td {
        white-space: nowrap;
    }
  
    td button {
        display: inline-block;
        margin-bottom: 0;
    }
  }
  
  @media (max-width: 480px) {
    th, td {
        font-size: 14px;
        padding: 6px;
    }
  
    button {
        padding: 5px 6px;
    }
  
    img {
        width: 30px;
    }
  
    td {
        white-space: nowrap;
    }
  
    td button {
        display: inline-block;
        margin-bottom: 0;
    }
  
    .table-container {
        overflow-x: scroll;
    }
  }